canvas{border: 1px solid #000000;}
body{background-color:#ebebeb;}
#buttons {
  position: right;
  top: 5px;
  left: 10px;
}
#reset {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}
#pen{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}
#upload{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}
#color{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}
#range{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}
.color {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#purple {
  background-color: purple;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
#pink {
  background-color: pink;
}
#black {
  background-color: black;
}
#white {
 background-color: white;
}